$blue                       : #00a3fe;
$lightBlue                  : rgb(88, 178, 220);
$white                      : #fff;
$yellow                     : #FFF10C;
$purloe                     : #CC006B;

$gray                       : #555;
$darkGray                   : darken($gray, 10%);
$lightGray                  : lighten($gray, 50%);

$pageWidth                  : 960px;
$fontSizeBase               : 28px;
$fontSizeLarge             : ceil(($fontSizeBase * 1.25)); // ~18px
$fontSizeSmall              : ceil(($fontSizeBase * 0.85)); // ~12px

$fontSizeH1                 : floor(($fontSizeBase * 2.6)); // ~36px
$fontSizeH2                 : floor(($fontSizeBase * 2.15)); // ~30px
$fontSizeH3                 : ceil(($fontSizeBase * 1.7)); // ~24px
$fontSizeH4                 : ceil(($fontSizeBase * 1.25)); // ~18px
$fontSizeH5                 : $fontSizeBase;
$fontSizeH6                 : ceil(($fontSizeBase * 0.85)); // ~12px


$borderColor                : $lightGray;
$space                      : 12px;
$middleSpace                : $space * 2;
$largeSpace                 : $space * 4;

$radius                     : 12px;
$middleRadius               : $space * 2;
$largeRadius                : $space * 4;

$buttunWidth                : 400px;
$buttunHeight               : 60px;

$footerHeight               : 200px;

$themes: (
  default: (
    indexBg                 : $blue,
    bgColor                 : $lightGray,
    innerBg                 : $white,
    fontColor               : $gray,
    prominentColor          : $blue,
    tipsColor               : lighten($gray, 30%),
    menuHover               : $yellow,
    hoverColor              : $yellow,

    toTopColor              : $gray,
    toTopHoverColor         : $blue,

    tagColor                : rgb(88, 178, 220),
    borderColor             : $borderColor,
    linkHoverColor          : $blue,

    headerColor             : $white,

    //导航栏颜色
    navBorder               : $borderColor,
    navBg                   : $white,
    navColor                : $gray,
    navHoverBg              : $blue,
    navHoverColor           : $white,

    //文章列表
    iconColor               : $lightGray,
    iconHoverColor          : $blue,

    //按钮
    buttonBg                : $white,
    buttonColor             : $gray,
    buttonHoverBg           : $blue,
    buttonHoverColor        : $white,
    buttonHoverBorder       : $blue,

    footerBg                : $darkGray,
    footerColor             : $lightGray,
    dictBg                  : $white,
    dictColor               : $gray
  ),
);
