@import "var";
@import "reset";
@import "animate";
@import url('//at.alicdn.com/t/font_995830_qhphtcu9a3i.css');

.pagination__wrapper{
  display: flex;
  justify-content: center;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
